/* importing Bree Serif webfont from Adobe Fonts */
@import url("https://use.typekit.net/fge2bmk.css");





/* Media for mobile phones under 430px */

@media (max-width: 480px) {

    html {
        /* set default font size for rem sizing */
        font-family: "bree-serif", serif;
        height: 100%;
        width: 100vw;
        scroll-behavior: smooth;
    }
    
    body {
        height: 100%;
        margin: 0;
        width: 100vw;
        background-color: #ffffff;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    /* sections boxes */

    section {
        padding-top:50px;
        padding-bottom:50px;
        text-align: center;
        width: 100%;
    }

    section:first-child {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        width: 100%;
    }

    section#home {
        color: #ffffff;
        display: flex;
        flex-wrap: unset;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 150px;
        text-align: center;
        height: 100vh;
        background: linear-gradient(-75deg, #c68b59, #fcdec0, #c68b59);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    section#about {
        background-color: #ffffff;
        background: url(../img/memoji_tim.png);
        background-size: 200px;
        padding-bottom: 210px;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    section#skills {
        background-color: #fcdec0;
    }

    .skillContent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 35px;
        align-self: center;
        width:100%;

    }

    .skillBox {
        background-color: #577289;
        color: #ffffff;
        padding: 20px;
        border-radius: .75rem;
        align-self: center;
        width:80%;
    }

    .skillBox ul {
        margin: 0;
        padding: 0;
    }

    .skillBox ul li {
        list-style-type: none;
        font-weight: 300;
    }

    section#samples {
        background-color: #ffffff;
    }

    .sampleContent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 35px;
        align-self: center;
        width:100%;
    }

    .sampleBox {
        font-weight: 300;
        background-color: #ffffff;
        color: #555555;
        width:80%;
    }

    .sampleBox ul {
        margin: 0;
        padding: 0;
    }

    .sampleBox ul li {
        list-style-type: none;
        font-weight: 300;
    }

    .sampleImg {
        width: 100%;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 10px;
    }

    section#contact {
        background-color: #fcdec0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    section#facts {
        background-color: #ffffff;
        background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../img/squirrel_background.png);
        background-size: cover;
        background-position: center center;
        color: #ffffff;
    }

    .socialmediaimg {
        width: 40px;
    }

    /* nav bar */

    header {
        width: 100%;
    }

    header nav#navigation {
        position: fixed;
        left: 0;
        top: -75px;
        opacity: 0;
        z-index: 999;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
        height: 75px;
        min-height: 50px;
        background-color: #ffffff;
        transition: ease-in 0.6s;
    }

    header nav div#navimage a img {
        height: 50px;
        margin-left: 100px;
    }

    header nav div#navitems {
        display: flex;
        justify-content: end;
        margin-right: 100px;
    }

    header nav div#navitems ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }

    header nav div#navitems ul li {
        list-style-type: none;
        margin-right: 20px;

    }

    header nav div#navitems ul li a {
        font-size: 1rem;
        font-family: "bree-serif", serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #577289;
        text-decoration: none;
    }

    /* text setting */

    p {
        font-size: .85rem;
        font-family: "bree-serif", serif;
        font-weight: 400;
        text-align: left;
        color: #555555;
        margin-right:20px;
        margin-left:20px;
    }

    p#squirrelfacts {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        font-style: italic;
        color: #577289;
    }

    h1 {
        font-size: 1.5rem;
        font-family: "bree-serif", serif;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
    }

    h2 {
        font-family: "bree-serif", serif;
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        color: #875539;
        text-transform: uppercase;
        margin: 0 0 25px;
    }

    h3 {
        font-family: "bree-serif", serif;
        font-weight: 500;
        font-size: 1.25rem;
        text-align: center;
        color: #fcdec0;
        margin: 0 0 5px;
    }

    .skilllevel {
        font-family: "bree-serif", serif;
        font-weight: 200;
        font-style: italic;
        color: #D3D3D3;
    }

    .white {
        color: #ffffff;
    }

    .blue {
        color: #577289;
    }

    /* imgs */
    .businesslogo {
        width: 50%;
        min-width: 300px;
        max-width: 800px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        padding: 25px;
        background-color: #577289;
    }

    div#socialmedias {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 35px;
        margin: 2rem 0;
        max-width: 900px;
    }

    /* buttons */
    .btnBig {
        background: #577289;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        padding: 15px 50px;
        -webkit-transition: all 0.6s ease-in;
        transition: all 0.6s ease-in;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-image: none;
        border: 1px solid transparent;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .btnBig:hover, .btnBig:active {
        box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 15px;
    }

    /* form */
    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;
        width: 600px;
    }

    form div.formDetails {
        display: flex;
        flex-direction: column;
        column-gap: 5px;
    }

    form div.formDetails label {
        font-size: 1rem;
        font-family: "bree-serif", serif;
        font-weight: 500;
        text-align: left;
        color: #577289;
    }

    form div.formDetails input {
        font-size: 1rem;
        height: 1.5rem;
        font-family: "bree-serif", serif;
        font-weight: 300;
        text-align: left;
        color: #875539;
        border: 1px solid #577289;
        border-radius: .375rem;
    }

    form div.formDetails textarea {
        font-size: 1rem;
        height: 8rem;
        font-family: "bree-serif", serif;
        font-weight: 300;
        text-align: left;
        color: #875539;
        border: 1px solid #577289;
        border-radius: .375rem;
    }

    section#contact form button {
        align-self: center;
        background: #577289;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 700;
        padding: 15px 50px;
        margin: 15px 0 0;
        -webkit-transition: all 0.6s ease-in;
        transition: all 0.6s ease-in;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-image: none;
        border: 1px solid transparent;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

}


/* Media For Larger Screens */

@media (min-width:1200px) {

    main {
        display: flex;
        flex-direction: column;
    }

    /* sections boxes */

    section {
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
        width: 100%;
    }

    section:first-child {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        width: 100%;
    }

    section#home {
        color: #ffffff;
        display: flex;
        flex-wrap: unset;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 150px;
        text-align: center;
        height: 100vh;
        background: linear-gradient(-75deg, #c68b59, #fcdec0, #c68b59);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    section#about {
        background-color: #ffffff;
        background: url(../img/memoji_tim.png);
        background-size: 361px;
        background-repeat: no-repeat;
        background-position: left calc(50vw + 89px) bottom;
    }

    section#skills {
        background-color: #fcdec0;
    }

    .skillContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 35px;

    }

    .skillBox {
        width: 300px;
        background-color: #577289;
        color: #ffffff;
        padding: 20px;
        border-radius: .75rem;
    }

    .skillBox ul {
        margin: 0;
        padding: 0;
    }

    .skillBox ul li {
        list-style-type: none;
        font-weight: 300;
    }

    section#samples {
        background-color: #ffffff;
    }

    .sampleContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 35px;

    }

    .sampleBox {
        font-weight: 300;
        width: 300px;
        background-color: #ffffff;
        color: #555555;
    }

    .sampleBox ul {
        margin: 0;
        padding: 0;
    }

    .sampleBox ul li {
        list-style-type: none;
        font-weight: 300;
    }

    .sampleImg {
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-bottom: 10px;
    }

    section#contact {
        background-color: #fcdec0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    section#facts {
        background-color: #ffffff;
        background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url(../img/squirrel_background.png);
        background-size: cover;
        background-position: center center;
        color: #ffffff;
    }

    .socialmediaimg {
        width: 40px;
    }

    /* nav bar */

    header {
        width: 100%;
    }

    header nav#navigation {
        position: fixed;
        left: 0;
        top: -75px;
        opacity: 0;
        z-index: 999;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
        height: 75px;
        min-height: 50px;
        background-color: #ffffff;
        transition: ease-in 0.6s;
    }

    header nav div#navimage a img {
        height: 50px;
        margin-left: 100px;
    }

    header nav div#navitems {
        display: flex;
        justify-content: end;
        margin-right: 100px;
    }

    header nav div#navitems ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
    }

    header nav div#navitems ul li {
        list-style-type: none;
        margin-right: 20px;

    }

    header nav div#navitems ul li a {
        font-size: 1rem;
        font-family: "bree-serif", serif;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        color: #577289;
        text-decoration: none;
    }

    /* text setting */

    p {
        font-size: .85rem;
        font-family: "bree-serif", serif;
        font-weight: 400;
        text-align: left;
        color: #555555;
    }

    p#squirrelfacts {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        font-style: italic;
        color: #577289;
    }

    h1 {
        font-size: 1.5rem;
        font-family: "bree-serif", serif;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
    }

    h2 {
        font-family: "bree-serif", serif;
        font-weight: 500;
        font-size: 3rem;
        text-align: center;
        color: #875539;
        text-transform: uppercase;
        margin: 0 0 25px;
    }

    h3 {
        font-family: "bree-serif", serif;
        font-weight: 500;
        font-size: 1.25rem;
        text-align: center;
        color: #fcdec0;
        margin: 0 0 5px;
    }

    .skilllevel {
        font-family: "bree-serif", serif;
        font-weight: 200;
        font-style: italic;
        color: #D3D3D3;
    }

    section h2,
    section p,
    section p#squirrelFacts {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    section#about p {
        max-width: calc(900px - 400px);
        margin-left: calc((100% - 900px)/2);
    }

    .white {
        color: #ffffff;
    }

    .blue {
        color: #577289;
    }

    /* imgs */
    .businesslogo {
        width: 50%;
        min-width: 300px;
        max-width: 800px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    /* footer */

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        padding: 25px;
        background-color: #577289;
    }

    div#socialmedias {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 35px;
        margin: 2rem 0;
        max-width: 900px;
    }

    /* buttons */
    .btnBig {
        background: #577289;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        padding: 15px 50px;
        -webkit-transition: all 0.6s ease-in;
        transition: all 0.6s ease-in;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-image: none;
        border: 1px solid transparent;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .btnBig:hover {
        background: #fcdec0;
        color: #577289;
    }

    /* form */
    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;
        width: 600px;
    }

    form div.formDetails {
        display: flex;
        flex-direction: column;
        column-gap: 5px;
        width: 100%;
    }

    form div.formDetails label {
        font-size: 1rem;
        font-family: "bree-serif", serif;
        font-weight: 500;
        text-align: left;
        color: #577289;
    }

    form div.formDetails input {
        font-size: 1rem;
        height: 1.5rem;
        font-family: "bree-serif", serif;
        font-weight: 300;
        text-align: left;
        color: #875539;
        border: 1px solid #577289;
        border-radius: .375rem;
    }

    form div.formDetails textarea {
        font-size: 1rem;
        height: 8rem;
        font-family: "bree-serif", serif;
        font-weight: 300;
        text-align: left;
        color: #875539;
        border: 1px solid #577289;
        border-radius: .375rem;
    }

    section#contact form button {
        align-self: center;
        background: #577289;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 700;
        padding: 15px 50px;
        margin: 15px 0 0;
        -webkit-transition: all 0.6s ease-in;
        transition: all 0.6s ease-in;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-image: none;
        border: 1px solid transparent;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

}